<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="logfile" fileName="C:\Users\Kiu-Student\Desktop\LibraryManagement\Application\log.txt">
			<layout xsi:type="SimpleLayout" text="${longdate}|${level:uppercase=true}|${message}|${exception:format=Message}" />
		</target>
		<target xsi:type="Console" name="logconsole">
			<layout xsi:type="ColoredConsoleLayout" />
		</target>
		<target xsi:type="File" name="errorLog" fileName="C:\Users\Kiu-Student\Desktop\LibraryManagement\Application\errorLog.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole, logfile" />
		<logger name="NLog.Config" minlevel="Error" writeTo="errorLog" />
	</rules>
</nlog>
